<%= render "shared/header" %>

<div class="box1">
<%=@user.first_name%> <%=@user.last_name%> 様のマイページ
</div>

<div class="box2">

  <div class="left">
    <ul>
        <li class="user"><%=link_to 'ユーザー情報',edit_user_path%> </li>
        <li class="user"> お気に入り一覧</li>
        <li class="user"> 出品した商品</li>
    </ul>
  </div>
  </div>

<div class="box3">
  <div class="right2">
   <h3 class="update"><i class="fas fa-star yellow"></i>更新が完了しました<i class="fas fa-star yellow"></i></h3>
   <a class="btn" href="/">投稿一覧へ戻る</a>
  </div>
</div>
